@charset "UTF-8";
:root, [data-bs-theme=light], [data-menu-theme=light] {
    --tblr-gray: #4c496c;
    --tblr-gray-dark: #211d3b;
    --tblr-gray-100: #f1f5f9;
    --tblr-gray-200: #e2e8f0;
    --tblr-gray-300: #c8d3e1;
    --tblr-gray-400: #c9c1d6;
    --tblr-gray-500: #736c91;
    --tblr-gray-600: #4c496c;
    --tblr-gray-700: #333152;
    --tblr-gray-800: #211d3b;
    --tblr-gray-900: #1a0f2a;
    --tblr-primary: #6354BF!important;
    --tblr-tabler: #6354BF!important;

}


:root, [data-bs-theme=dark], [data-menu-theme=dark] {
    --tblr-gray: #4c496c;
    --tblr-gray-dark: #211d3b;
    --tblr-gray-100: #f1f5f9;
    --tblr-gray-200: #e2e8f0;
    --tblr-gray-300: #c8d3e1;
    --tblr-gray-400: #c9c1d6;
    --tblr-gray-500: #736c91;
    --tblr-gray-600: #4c496c;
    --tblr-gray-700: #333152;
    --tblr-gray-800: #211d3b;
    --tblr-gray-900: #0f2a12;
    --tblr-primary: #6354BF!important;
    --tblr-tabler: #6354BF !important;
   
}

.breadcrumb {
    --tblr-breadcrumb-item-active-font-weight: var(--tblr-font-weight-bold);
    --tblr-breadcrumb-item-disabled-color: var(--tblr-disabled-color);
    --tblr-breadcrumb-link-color: #6354BF;
}

